<div id="outPopUp" class="container">
  <div class="row">
      <div id="textcent" class="col-md-6 mt-5 mx-auto">
          
        <div class="card-header"><h1 class="text-center text-danger fw-bold">FAQ</h1></div>
              <br>
          <div class="box">
              <br>
              <div class="faqs">
                  <img src="" style="width:50%">
                 <details>
                    <summary>What does AKASIA mean?</summary>
                    <br>
                    <p align="center" class="text text-danger">Angkatan Anak Seni (AKASIA) is a combination of cultural clubs.
                      </p>
                 </details>
                 <details>
                    <summary>What is the top genre in AKASIA?</summary>
                    <br>
                    <p align="center" class="text text-danger">There are 2 top genre which is Modern and Traditional. Mostly there are Traditional dancers than Modern dancers
                      but that doesn't mean we focused on just 1 genre, we can balanced it suitable to our community.
                      </p>
                 </details>
                 <details>
                    <summary>Where are the usual practice venue?</summary>
                    <br>
                    <p align="center" class="text text-danger">Usually we will held practice at Student Square Level 2 or
                      in Studio nearby such as Shamelin Star Studio at Level 7.
                    </p>
                 </details>
                 <details>
                  <summary>What if we have never danced before?</summary>
                  <br>
                  <p align="center" class="text text-danger">If you have never dance before, we will teach how to dance to you, 
                      give you a few tips and place you in a competition suitable to your genre.
                    </p>
               </details>
              </div>
           </div>
           <br>
           <br>
      </div>
  </div>

